$rsc_footer_breakpoints-to-use: $grid-breakpoints-ls !default;
$rsc_footer_breakpoint-small: 6 !default;
$rsc_footer_breakpoint-middle: 9 !default;
$rsc_footer_breakpoint-large: 12 !default;

.ce_rsce_footer {
  position: relative;
  margin-top: 0;
  background: $ls-color-dark-grey;

  > div {
    @include ls_contentWrapper;
    padding: $grid-gutter-width 0;


    > div {
      @include make-row();

      &.flex-layout-fix {
        > div {
          @include make-col-ready();
        }

        &.colNumber-1 {
          > div {
            @include make-col(12);
          }
        }

        &.colNumber-2 {
          > div {
            @include make-col(6);

            @include media-breakpoint-down($rsc_footer_breakpoint-small, $rsc_footer_breakpoints-to-use) {
              @include make-col(12);
              margin-bottom: 5rem;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        &.colNumber-3 {
          > div {
            @include make-col(4);

            @include media-breakpoint-down($rsc_footer_breakpoint-middle, $rsc_footer_breakpoints-to-use) {
              @include make-col(6);
              margin-bottom: 5rem;

              &:last-child {
                margin-bottom: 0;
              }
            }
            @include media-breakpoint-down($rsc_footer_breakpoint-small, $rsc_footer_breakpoints-to-use) {
              @include make-col(12)
            }
          }
        }

        &.colNumber-4 {
          > div {
            @include make-col(3);

            @include media-breakpoint-down($rsc_footer_breakpoint-large, $rsc_footer_breakpoints-to-use) {
              @include make-col(6);

              &:first-child,
              &:nth-child(2) {
                margin-bottom: 5rem;
              }
            }
            @include media-breakpoint-down($rsc_footer_breakpoint-small, $rsc_footer_breakpoints-to-use) {
              @include make-col(12);
              margin-bottom: 5rem;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &.flex-layout-sb {
        justify-content: space-between;
        flex-flow: row wrap;

        &.colNumber-1 {
          > div {
            @include make-col-ready();
            @include make-col(12);
            display: flex;

            > div {
              margin: 0 auto;
            }
          }
        }

        &.colNumber-2 {
          > div {
            @include make-col-ready();
            @include make-col(6);

            &:last-child {
              display: flex;

              > div {
                margin-left: auto;
              }
            }

            @include media-breakpoint-down($rsc_footer_breakpoint-small, $rsc_footer_breakpoints-to-use) {
              @include make-col(12);
              margin-bottom: 5rem;

              &:last-child {
                margin-bottom: 0;

                > div {
                  margin-left: 0;
                }
              }
            }
          }
        }

        &.colNumber-3 {
          _foo: bar;

          > div {
            max-width: 100% / 3;
            position: relative;
            padding-right: 3rem;
            padding-left: 3rem;

            @include media-breakpoint-down($rsc_footer_breakpoint-middle, $rsc_footer_breakpoints-to-use) {
              @include make-col(6);
              margin-bottom: 5rem;

              &:nth-child(2) {
                display: flex;

                > div {
                  margin-left: auto;
                }
              }

              &:last-child {
                @include make-col(12);
                display: flex;
                margin-bottom: 0;

                > div {
                  margin: 0 auto;
                }
              }
            }

            @include media-breakpoint-down($rsc_footer_breakpoint-small, $rsc_footer_breakpoints-to-use) {
              @include make-col(12);

              &:nth-child(2) {
                > div {
                  margin-left: 0;
                }
              }

              &:last-child {
                display: unset;
                > div {
                  margin: 0;
                }
              }
            }
          }
        }

        &.colNumber-4 {
          > div {
            max-width: 100% / 4;
            position: relative;
            padding-right: 3rem;
            padding-left: 3rem;
            //@include make-col(3);

            @include media-breakpoint-down($rsc_footer_breakpoint-large, $rsc_footer_breakpoints-to-use) {
              @include make-col(6);

              &:first-child,
              &:nth-child(2){
                margin-bottom: 5rem;
              }

              &:nth-child(2n) {
                display: flex;

                > div {
                  margin-left: auto;
                }
              }
            }
            @include media-breakpoint-down($rsc_footer_breakpoint-small, $rsc_footer_breakpoints-to-use) {
              @include make-col(12);
              margin-bottom: 5rem;

              &:nth-child(2n) {
                display: unset;

                > div {
                  margin-left: 0;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}