$rsc_footer_breakpoints-to-use: $grid-breakpoints-ls;

.ce_rsce_footer {
  position: relative;
  margin-top: 0;
  background: $ls-color-dark-grey;

  > div {
    @include ls_contentWrapper;
    padding: $grid-gutter-width 0;


    > div {
      @include make-row();

      > div {
        @include make-col-ready();

        img {
          _max-width: 6rem;
          _margin-right: 1rem;
          _margin-bottom: 1rem;
        }
      }

      &.rowNumber-1 {
        > div {
          @include make-col(12);
        }
      }

      &.rowNumber-2 {
        > div {
          @include make-col(6);

          @include media-breakpoint-down(6, $rsc_footer_breakpoints-to-use) {
            @include make-col(12);
            margin-bottom: 5rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &.rowNumber-3 {
        > div {
          @include make-col(4);

          @include media-breakpoint-down(9, $rsc_footer_breakpoints-to-use) {
            @include make-col(6);
            margin-bottom: 5rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
          @include media-breakpoint-down(6, $rsc_footer_breakpoints-to-use) {
            @include make-col(12)
          }
        }
      }

      &.rowNumber-4 {
        > div {
          @include make-col(3);

          @include media-breakpoint-down(12, $rsc_footer_breakpoints-to-use) {
            @include make-col(6);

            &:first-child,
            &:nth-child(2){
              margin-bottom: 5rem;
            }
          }
          @include media-breakpoint-down(6, $rsc_footer_breakpoints-to-use) {
            @include make-col(12);
            margin-bottom: 5rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
