.ce_rsce_footer-01 {
  position: relative;
  margin-top: 0;
  background: $ls-color-dark-grey;

  > div {
    @include ls_contentWrapper;
    padding: $grid-gutter-width 0;


    > div {
      @include make-row();

      > div {
        @include make-col-ready();
        @include make-col(3);
        padding-right: 2rem;
        @media (max-width: 1199.98px) {
          @include make-col(6);
          margin-bottom: 5rem;
        }
        @media (max-width: 991.98px) {
          @include make-col(12);
        }

        img {
          max-width: 6rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          float: left;
        }

        ul {
          list-style: none;
        }


        /*
        > div:nth-child(1) {
          order: 1;
          @media (max-width: 1199.98px) {
            order: 1;
          }
          @media (max-width: 991.98px) {
            order: 1;
          }
        }

        > div:nth-child(2) {
          order: 2;
          @media (max-width: 1199.98px) {
            order: 3;
          }
          @media (max-width: 991.98px) {
            order: 3;
          }
        }

        > div:nth-child(3) {
          order: 3;
          @media (max-width: 1199.98px) {
            order: 4;
          }
          @media (max-width: 991.98px) {
            order: 4;
          }
        }

        > div:nth-child(4) {
          order: 4;
          @media (max-width: 1199.98px) {
            order: 2;
          }
          @media (max-width: 991.98px) {
            order: 2;
          }
        }


         */

      }
    }
  }
}
