$rsc_picture-art-direction_breakpoints-to-use: $grid-breakpoints-ls !default;
$rsc_picture-art-direction_breakpoint-to-single-col-down: 8 !default;
$rsc_picture-art-direction_breakpoint-to-single-col-up: 9 !default;

.ce_rsce_picture-art-direction {

}