$rsc_contentbox-02_breakpoints-to-use: $grid-breakpoints-ls;

.ce_rsce_contentbox-02 {
  @include ls-contentWrapper;

  > div {
    > div {
      @include display-grid;
      @include grid-template-columns(1fr grid-repeat(11, 0.5rem 1fr));
      @include grid-template-rows(1fr);
      @include align-items(center);
      align-content: center;

      @include media-breakpoint-down(7, $rsc_image-text-tile_breakpoints-to-use) {
        @include grid-template-rows(1fr grid-repeat(1, 0.5rem 1fr));
      }
    }
  }

  .text-container {
    grid-row-start: 1;
    padding: 4rem;
    text-align: center;
    background: $ls-color-white;
    -webkit-box-shadow: 0px 7px 10px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 10px 8px rgba(0, 0, 0, 0.2);
    z-index: 99;

    a {
      @include ls_defaultButton;
      @include ls_dynamicBackground;
    }
  }

  .image-container {
    grid-row-start: 1;
    height: 100%;

    picture {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.image-horizontally-left {

    .image-container {
      grid-column: 1 / 16;
    }

    .text-container {
      grid-column: 14 / 24;
    }

    @include media-breakpoint-down(8, $rsc_image-text-tile_breakpoints-to-use) {
      .image-container {
        grid-column: 1 / 12;
      }

      .text-container {
        grid-column: 12 / 24;
      }
    }

    @include media-breakpoint-down(7, $rsc_image-text-tile_breakpoints-to-use) {
      .image-container {
        grid-column: 1 / 24;
        grid-row: 1 / 3;
      }

      .text-container {
        grid-column: 3 / 22;
        grid-row: 2 / 4;
        margin-top: -10rem;
      }
    }

    @include media-breakpoint-down(6, $rsc_image-text-tile_breakpoints-to-use) {
      .text-container {
        grid-column: 2 / 23;
      }
    }

    @include media-breakpoint-down(5, $rsc_image-text-tile_breakpoints-to-use) {
      .text-container {
        margin-top: -14rem;
      }
    }

    @include media-breakpoint-down(4, $rsc_image-text-tile_breakpoints-to-use) {
      .text-container {
        margin-top: -7rem;
      }
    }

    @include media-breakpoint-down(3, $rsc_image-text-tile_breakpoints-to-use) {
      .text-container {
        margin-top: -4rem;
      }
    }
  }
}

