.ce_rsce_fullscreen-image-box {
  display: flex;
  margin: auto;
  position: relative;
  min-height: 100vh;

  .image-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .text-box-wrapper {
    display: flex;
    width: 100%;
    padding: 10rem 0 10rem;

    .text-container {
      @include ls_contentWrapper;
      margin: auto;
      padding: 10rem;
      overflow: visible;
    }
  }
}

